
@import url("https://fonts.googleapis.com/css2?family=Radio+Canada:wght@400;500;600;700&display=swap");

body {
  background-image: url("https://cdn.pixabay.com/photo/2018/03/17/19/36/connection-3234929_1280.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  font-family: "Radio Canada", sans-serif;
}
  
/* Enter your styling here */
h1 {
  text-align: center;
  color: white;
  text-shadow: 2px;
  font-size: 50px;
}
.box{
  display: flex;
  justify-content: center;
  margin: 35px;
  flex-wrap: wrap;
}
.row{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 100%;
}
.btn {
  height: 75px;
  width: 75px;
  background-color: rgb(224, 224, 224);
  transition-duration: 0.2s;
  border: 2px black solid;
  border-radius: 5px;
  font-size: 50px;
  font-weight: 500;
  opacity: 80%;
  color: black;
  text-shadow: 2px;
}

.btn:hover {
  transition-duration: 0.2s;
  background-color: rgb(255, 255, 255);
}

.btndis {
  cursor: no-drop;
}

.result-container{
  max-width: 200px;
  background-color: rgb(224, 224, 224);
  text-align: center;
  marg
}

#reset{
  width: 100%;
  background-color: rgb(224, 224, 224);
}